body {
   background-image: url("../images/background5.jpg");
   background-color: #f5f8fa;
   background-repeat: no-repeat;
   background-size: 2320px;
}
#banner {
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 36px;
  background-color: lightblue;
  border: 3px solid  darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 805px;
  height: auto;
}

.crystals {
  height: 162.5px;
  margin: 10px;
  border: 3px solid black;
  background-color: white;
  
}

.container {
  margin: auto;
  padding: 30px;
  text-align: center;
  background-color: lightblue;
  width: 770px;
  height: auto;
}

.standard {
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  width: 470px;
  height: 50px;
  background-color: lightblue;
  border: 3px solid black;
}

#gameStart {
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  width: 470px;
  height: auto;
  background-color: pink;
  border: 3px solid black;
}

#win_loss {
  height: 60px;
}

#score {
  height: 10px;
  vertical-align: auto;
}

#randomNumDiv {
  font-size: 32px;
}

#scoreupdate {
  font-size: 32px;
  height: auto;

}